h1 {
<<<<<<< Updated upstream
=======
<<<<<<< Updated upstream
>>>>>>> Stashed changes
	border: 1px solid black;
}

#containerFeatured {
	border: 1px solid blue;
	width: 100%;
}
#containerArticles {
	width: 100%;
}

#leftColumn {
	width: 30%;
	float: left;
}
#centerColumn {
	width: 30%;
	float: left;
}
#rightColumn {
	width: 30%;
	float: left;
}
.article {
	float: left;
	width: 30%;
	height: 95px;
	background-color: grey;
	margin: 5px;
	padding: 8px;
}
.box {
	background-color: grey;
	color: black;
	border: 2px solid black;
	border-radius: 8px;
	padding: 10px;
	margin: 5px;
}
.clearFloat {
	clear: both;
}
.column {
	height: 400px;
<<<<<<< Updated upstream
=======
=======
    border: 1px solid black;
}

#container {
    border: 1px solid blue;
    width: 100%;
    height: 400px;
}

#leftColumn {
    height: 95%;
    width: 75%;
    float: left;
}

#rightColumn {
    height: 95%;
    width: 15%;
    float: left;
}

.box {
    background-color: grey;
    color: black;
    border: 2px solid black;
    border-radius: 8px;
    margin: 10px;
}
.clearFloat {
    clear: both;
>>>>>>> Stashed changes
>>>>>>> Stashed changes
}